.logo{
   background-radius: 45%;
}
.title{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #544996;

    font-size: 90px;
}
.t2{
    font-family:'Montserrat', sans-serif;
    font-weight: bold;
    color: #7b70c1;
    font-size: 50px;
    
    
}
